*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(49, 47, 47, 1);
    }
header{
    display: flex;
    position: fixed;
    top:0;    
    align-items: center;   
    background-color: #f44336;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    width: 98%;
    margin-left:0.8%;
    margin-right:2%;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.925);
    border-radius: 10px;  
   
}

.myphoto{
    width: 200px;
    border-radius: 50%;
    text-align: left;
}
.name{
    text-align: center;
    color: darkgrey;   
}
.wd50{
    width: 50%;
    height:max-content;
    padding: 5px 10px;
}
.wd33{
    width: 33%;
    height:max-content;
    padding: 5px 10px;
}
.menu{  
    text-align: left;  
    padding: 5px 10px;
}
.menu a:link, .menu a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
}
.menu a:hover, a:active {
  background-color: red;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
}

.location{
    color: rgb(255, 255, 255);
    font-style:italic, bold;
    background-color: rgba(49, 47, 47, 0.925);
    border-radius: 10%;
    padding: 0 5px;
}

.aboutAdjust{
    background-color: #f44336;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: rgba(49, 47, 47, 0.925);
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    height: 100vh;
      
}
.content:hover{
    background-color:#f44336;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.925);
    width: 98%;
    
}
.content{    
    background-color: #f44336;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    height:max-content;
    width: 60%;
    padding: 5px 5px;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.925);
    border-radius: 10px;
    
}
.lists-hidden{
    list-style-type: none;
}

.container a:link, .container a:visited {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 0 14px;
    text-decoration: none;

}
.container a:hover, .container a:active {
    background-color: red;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
  }

footer{
    background-color: #f44336;
    color: white;
    position: fixed;
    bottom: 0;
    height: max-content;
    width: 100%;
    text-align: center;

}
@media screen and (max-width: 768px){
    header{
        display: flex;
        position: fixed;
        top:0;    
        align-items: center;   
        background-color: #f44336;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;
        width: 98%;
        box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.925);
        border-radius: 10px;  
       
    }
    .menu a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 2px 2px;
        border-radius: 10%;
        text-align: left;
        text-decoration: none;
        display: flex;
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;
      }
    .menu a:hover, a:active {
        background-color: red;
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;
    }

    .wd50{
        width: 50%;
        height:max-content;
        padding: 15px 10px;
    }

    .container{
           
        display: flex;
        margin-top:14rem;           
        align-items: center;
        justify-content: center;    
        background-color: rgba(49, 47, 47, 0.925);
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;              
        
    }
    .content{    
        background-color: #f44336;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        height:max-content;
        width: 98%;
        padding: 5px 5px;
        box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.925);
        border-radius: 10px;
        
    }
    .mobile{
        margin-top: 15vh;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        background-color: #f44336;
        position: fixed;
        bottom: 0;
        text-align: center;
    }
}
